.navbar {
    background: #d9dd92;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #e80071;
    cursor: pointer;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    color: #c20f45;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #4b5c80;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.desktop-nav {
    display: flex;
    gap: 1.5rem;
}

.search-bar {
    display: flex;
    border: 1px solid #000000;
    align-items: center;
    background: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    flex: 1;
    max-width: 350px;
    gap: 10px;
}

.search-bar input {
    border: none;
    outline: none;
    flex: 1;
    border-bottom: 2px solid black;
    font-size: 0.9rem;
    padding: 0.3rem;
}

.search-icon,
.camera-icon {
    color: #666;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.icons svg {
    font-size: 1.5rem;
    color: #e80071;
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
    color: #C10015;
}

.mobile-nav {
    background: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
}

.mobile-nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.footer-navbar {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #d9dd92;
    border-top: 1px solid #ddd;
    padding: 10px 20px;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
}

.footer-navbar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: #333;
}

@media (max-width: 1024px) {
    .desktop-nav,
    .desktop-search,
    .desktop-icons {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .search-bar {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-navbar {
        display: flex;
    }
}

@media (max-width: 480px) {
    .footer-icon,
    .footer-navbar span {
        color: #c20f45;
    }
}