.btn-cart {
    padding: 0.5rem 1rem;
    font-size: 0.93rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cart {
    background: #ffd814;
    color: black;

    &:hover {
        background: #f7ca00;
    }
}