.btn-shop {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-shop {
    background: rgb(236, 213, 7);
    color: #000;

    &:hover {
        background: #101923;
        color: #fff;
    }
}