.btn-shop {
    padding: 0.5rem 1rem;
    font-size: 0.93rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-shop {
    background: #fa8900;
    color: #000;

    &:hover {
        background: #e68a00;
    }
}